#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: BackgroundPrefab(
                position: TransformAdapterPrefab(pos3d: (0.0, 0.0, -0.01), scale: 3.0),
                background: Background,
            )
        ),
    ],
)
