#![enable(implicit_some)]
Container(
    transform: (
        id: "game-over",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),
        width: 1200.0,
        height: 900.0,
    ),
    children: [
        Label(
            transform: (
                id: "title",
                x: 0.0,
                y: -100.0,
                z: 1.0,
                width: 500.0,
                height: 100.0,
                anchor: TopMiddle,
                mouse_reactive: false,
            ),
            text: (
                text: "Game Over",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 100.0,
                color: (1., 1., 1., 1.0),
            ),
        ),
        Label(
            transform: (
                id: "high_score",
                x: 0.0,
                y: -60.0,
                z: 1.0,
                width: 500.0,
                height: 100.0,
                anchor: Middle,
                mouse_reactive: false,
            ),
            text: (
                text: "HIGH SCORE PLACEHOLDER",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 40.0,
                color: (1., 1., 1., 1.0),
            ),
        ),
        Label(
            transform: (
                id: "score",
                x: 0.0,
                y: 60.0,
                z: 1.0,
                width: 500.0,
                height: 100.0,
                anchor: Middle,
                mouse_reactive: false,
            ),
            text: (
                text: "SCORE PLACEHOLDER",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 40.0,
                color: (1., 1., 1., 1.0),
            ),
        ),
        Button(
            transform: (
                id: "play_again",
                x: 0.0,
                y: 180.0,
                z: 1.0,
                width: 300.0,
                height: 50.0,
                anchor: BottomMiddle,
                mouse_reactive: true,
            ),
            button: (
                text: "Play Again",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
                normal_text_color: (1.0, 1.0, 1.0, 1.0),
                hover_text_color: (1.0, 1.0, 1.0, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
        Button(
            transform: (
                id: "return_to_menu",
                x: 0.0,
                y: 100.0,
                z: 1.0,
                width: 300.0,
                height: 50.0,
                anchor: BottomMiddle,
                mouse_reactive: true,
            ),
            button: (
                text: "Exit to menu",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
                normal_text_color: (1.0, 1.0, 1.0, 1.0),
                hover_text_color: (1.0, 1.0, 1.0, 1.0),
                press_text_color: (1.0, 1.0, 1.0, 1.0),
            )
        ),
    ],
)
