#![enable(implicit_some)]
Container(
    transform: (
        id: "pause",
        anchor: Middle,
        stretch: XY( x_margin: 0.0, y_margin: 0.0, keep_aspect_ratio: true),
        width: 500,
        height: 500,
    ),
    children: [
        Label(
            transform: (
                id: "title",
                x: 0.0,
                y: -100.0,
                z: 1.0,
                width: 500.0,
                height: 100.0,
                anchor: TopMiddle,
                mouse_reactive: false,
            ),
            text: (
                text: "Paused",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 100.0,
                color: (1., 1., 1., 1.),
            ),
        ),
        Button(
            transform: (
                id: "return_to_game",
                x: 0.0,
                y: 100.0,
                z: 1.0,
                width: 250.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Return to Game",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_text_color: (1., 1., 1., 1.),
                hover_text_color: (1., 1., 1., 1.),
                press_text_color: (1., 1., 1., 1.),
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
            ),
        ),
        Button(
            transform: (
                id: "options",
                x: 0.0,
                y: 0.0,
                z: 1.0,
                width: 250.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Options",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_text_color: (1., 1., 1., 1.),
                hover_text_color: (1., 1., 1., 1.),
                press_text_color: (1., 1., 1., 1.),
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
            ),
        ),
        Button(
            transform: (
                id: "return_to_menu",
                x: 0.0,
                y: -100.0,
                z: 1.0,
                width: 250.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Exit to Menu",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_text_color: (1., 1., 1., 1.),
                hover_text_color: (1., 1., 1., 1.),
                press_text_color: (1., 1., 1., 1.),
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
            ),
        ),
        Button(
            transform: (
                id: "exit_game",
                x: 0.0,
                y: -200.0,
                z: 1.0,
                width: 250.0,
                height: 50.0,
                anchor: Middle,
                mouse_reactive: true,
            ),
            button: (
                text: "Quit Game",
                font: File("fonts/FreeSerif.ttf", ("TTF", ())),
                font_size: 36.0,
                normal_text_color: (1., 1., 1., 1.),
                hover_text_color: (1., 1., 1., 1.),
                press_text_color: (1., 1., 1., 1.),
                normal_image: SolidColor(0.4, 0.4, 0.4, 1.),
                hover_image: SolidColor(0.5, 0.5, 0.5, 1.),
                press_image: SolidColor(0.2, 0.2, 0.2, 1.),
            ),
        ),
    ],
)
