#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: CharacterPrefab(
                enemy: EnemyPrefab,
                position: TransformAdapterPrefab(pos2d: (0.0, 500.0), scale: 3.0, layer: 1.0),
            ),
        ),
    ],
)
