#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: CharacterPrefab(
                player: Player,
                position: TransformAdapterPrefab(pos2d: (0.0, 0.0), scale: 0.25, layer: 1.0),
            ),
        ),
        PrefabEntity(
            parent: 0,
            data: CharacterPrefab(
                camera: CameraAdapterPrefab(width: 1200.0, height: 800.0),
                // Scale the camera up because the parent player is scaled down
                position: TransformAdapterPrefab(pos3d: (0.0, 0.0, 10.0), scale: 4.0),
            ),
        ),
    ],
)
