#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: ObstaclePrefab(
                dog: DogPrefab,
                dogposition: TransformAdapterPrefab(pos2d: (0.0, 200.0), scale: 10.0, layer: 0.5),
            ),
        ),
    ],
)