#![enable(implicit_some)]
Prefab(
    entities: [
        PrefabEntity(
            data: ObstaclePrefab(
                mud: Mud,
                mudposition: TransformAdapterPrefab(pos2d: (0.0, 500.0), scale: 3.0, layer: 0.5),
            ),
        ),
    ],
)